////////// COLOR SYSTEM //////////
$persian-indigo: #281448;
$rubine-red: #CE2D5C;
$pacific-blue: #4ebdc7;
$pacific-blue-dark: #31757b;
$cultured: #F6F6F6;
$burnt-sienna: #F4714C

////////// COLOR SYSTEM //////////